@charset "utf-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --c-glass: #aaa;
    --c-light: #f2f3f4;
    --c-dark: #222;

    --f-formal: "Figtree", sans-serif;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;

    --saturation: 150%;

    --glass-bg: color-mix(in srgb, var(--c-glass) 12%, transparent);

    --glass-effect:
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
        inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-light: #222 !important;
        --c-dark: #f2f3f4 !important;
    }
}

html,
body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--f-formal);
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;

    background: var(--c-light);
    color: var(--c-dark);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
}

img {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

/* TOP */
.top {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 1000;
    padding: 1rem 0 0;
    z-index: 5;
}

.logo,
.logo a {
    height: 2rem;
    max-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: .5rem 2rem;
}

.menu a {
    color: var(--c-light);
}

@media (min-width:375px) {
    .menu {
        padding: .5rem 1rem;
    }
}

/* MAIN */
.main {
    flex: 1;
}

.kv {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.kv-t {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    background-color: var(--c-dark);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
}

.kv-img {
    width: 20%;
}

.kv-t-txt {
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: .6rem;
    color: var(--c-light);
    gap: 1vh;
}

.kv-b {
    width: 80%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.kv-bl {
    width: 100%;
    height: 100%;

    background: var(--c-dark);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);

    border-radius: 2rem;

    display: grid;
    place-items: center;

    padding: 5%;
}

.kv-b-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1rem;
    text-transform: uppercase;

    color: var(--c-light);
    gap: 5vh;

    position: relative;
}

.kv-lenz {
    position: absolute;

    width: 0;
    height: 0;
    padding: 60px;

    background: var(--glass-bg);
    backdrop-filter: blur(2px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(2px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 1rem;
    z-index: 1;
}

.kv-br {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4vw;
}

@media (min-width:768px) {
    .kv-t {
        flex-direction: row;
    }

    .kv-t-txt {
        font-size: .8rem;
    }

    .kv-b {
        flex-direction: row;
    }

    .kv-b-txt {
        font-size: 2rem;
    }

    .kv-lenz {
        padding: 100px;
    }
}

/* TOP */
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.list h2 {
    margin-bottom: 4rem;
}

.list h3 {
    margin-bottom: 2rem;
}

.lenz-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 4rem;
    margin-bottom: 4rem;
}

.tile-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.tile {
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: rgba(242, 243, 244, .5);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
    margin-bottom: 5vh;
}

.tile:hover {
    transform: scale(1.2);
    background-color: var(--c-dark);
    color: var(--c-light);
    transition: .5s all;
    border-radius: 2rem;
}

.tile-txt {
    position: absolute;
    font-size: 100%;
    padding: 1rem;
}

.list-lenz {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: -1;
}

@media (min-width:768px) {
    .lenz-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* FOOTER */
.floor {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    width: 80vw;
}

.floor-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.address {
    background-color: var(--c-dark);
    color: var(--c-light);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-style: normal;
    font-size: .8rem;
}

.info dt {
    clear: left;
    float: left;
    width: 1rem;
    margin-right: 4rem;
}

.info dd {
    overflow: hidden;
}

.mail-link {
    color: var(--c-light);
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-txt {
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .floor-inner {
        flex-direction: row;
        align-items: center;
    }

    .address {
        padding: 4rem;
        float: none;
        font-size: .8rem;
    }

    .info {
        font-size: 1rem;
    }
}

@media (min-width:1024px) {
    .info {
        font-size: 1.2rem;
    }
}

/* FORM */
.form {
    background: var(--c-dark);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);

    display: grid;
    place-items: center;

    padding: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--c-light);
}

.required {
    color: #d55;
    font-size: .5rem;
    font-weight: 500;
    margin-left: .5vw;
}

.optional {
    font-size: .5rem;
    font-weight: 500;
    margin-left: .5vw;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--c-dark);
    border-radius: .5rem;
    transition: border-color 1s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: var(--c-light);
    outline: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}

textarea {
    resize: none;
}

.file-note {
    font-size: .5rem;
    color: var(--c-light);
    margin-top: .5rem;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: .5rem;
    background-color: transparent;
    color: var(--c-light);
    border-radius: .5rem;
    border: solid 1px var(--c-light);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .3s, transform .1s;
    margin-top: 1rem;
}

.submit-btn:hover {
    background-color: var(--c-light);
    backdrop-filter: blur(.2px);
    -webkit-backdrop-filter: blur(.2px);
    border-radius: .5rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
    color: var(--c-dark);
}

.submit-btn:active {
    transform: translateY(1px);
}

/* DETAIL */
.detail .menu a {
    color: var(--c-dark);
}

.detail .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus {
    background-color: var(--c-dark);
    height: 50vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.video {
    width: 80%;
    height: auto;
}

.img {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
}

.txt-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.box {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 1rem;
    margin-bottom: 5vh;
}

.name {
    background-color: var(--c-dark);
    color: var(--c-light);
    padding: .5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.dl-txt {
    font-size: .8rem;
    width: 80%;
}

.way {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.dl {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 3rem;
    align-items: start;
}

.way dt {
    background-color: var(--c-dark);
    color: var(--c-light);
    padding: 1rem;
    text-align: center;
}

.way dd {
    margin: 0;
    line-height: 1.6;
    overflow: hidden;
}

@media (min-width:768px) {
    .focus {
        height: 60vh;
    }

    .box {
        width: 60vw;
    }

    .name {
        font-size: 1.6rem;
    }

    .dl-txt {
        font-size: 1rem;
    }
}

@media (min-width:1024px) {
    .focus {
        width: 80vw;
        height: 80vh;
    }

    .dl {
        grid-template-columns: auto 1fr;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.glass-lenz {
    display: inline-block;
    padding: 20px;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    opacity: .5;
    border-radius: 10rem;

    cursor: pointer;
    user-select: none;
    transition: opacity .2s ease, transform .1s ease;
    z-index: 1;
}

.glass-lenz:hover {
    opacity: .8;
}

.glass-lenz:active {
    transform: scale(.9);
}

.full-btn {
    padding: 20px;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    opacity: .5;
    border-radius: 8px;
}

.astigmatism {
    filter:
        blur(2px) drop-shadow(2px 0 0 rgba(255, 255, 255, .4)) drop-shadow(-2px 0 0 rgba(0, 0, 0, .3));
}

.modal {
    position: fixed;
    inset: 0;
    background: var(--c-dark);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: zoom-out;
}

.modal.active {
    display: flex;
}

.modal img {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}

.modal-controls {
    position: fixed;
    top: 50vh;
    right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 6;
}
